{% extends "base.html" %}

{% block content %}

{% block biography %}
<div
  class="max-w-8xl mx-auto container grid grid-cols-1 xl:grid-cols-4 pt-8 pb-28 lg:pb-4 px-0 bg-white shadow-lg min-h-full">
  <div class="pt-4 px-4 xl:mx-4 flex flex-col md:flex-row xl:flex-col justify-center xl:justify-normal">
    <div class="px-0 md:px-6 xl:px-0">
      {% set image = resize_image(path=config.extra.avatar, format="webp", width=208, height=208) %}
      <img class="object-center w-52 h-52 rounded-full mx-auto" src="{{image.url}}" alt="Profile image" />
    </div>
    <div class="px-0 md:px-6 xl:px-0">
      <h1 class="text-center font-bold text-gray-900 text-3xl py-4">{{ config.title }}</h1>

      <div class="flex flex-row flex-wrap justify-center">
        {% for icon in section.extra.avatar_icons %}
        <div class="basis p-3 ">
          <a href="{{icon.link}}" target="_blank"><i>{{ icons::factory(icon=icon.icon,classes="inline h-12 w-12
              flex-no-shrink stroke-blue-600 hover:stroke-blue-700 visited:stroke-purple-600 fill-blue-600
              visited:fill-purple-600 hover:fill-blue-700 ") }}</i></a>
        </div>
        {% endfor %}
      </div>

      <div class="flex justify-center flex-col">
        <h2 class="text-center text-md font-medium text-gray-900">{{trans(key="ContactMe", lang=lang)}}</h2>
        <a href="mailto:{{config.extra.email}}"
          class="text-center flex justify-center underline text-md font-bold text-blue-600 hover:text-purple-600 break-all">{{
          config.extra.email}}
        </a>
      </div>

      <div class="pt-6 justify-center text-center">
        <div class="group inline-block self-center">
          <button
            class="outline-none text-white bg-blue-600 hover:bg-blue-700 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 w-20 text-center inline-flex items-center shadow-lg">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
            </svg>
            <span class="flex-nowrap font-bold">CV</span>
          </button>
          <ul
            class="bg-white border shadow-lg rounded-lg transform scale-0 group-hover:scale-100 transition duration-150 ease-in-out origin-top w-20 mt-0.5">
            <li class="rounded-sm hover:bg-gray-100 font-bold text-blue-600">
              <a href="/cv/eng.pdf" target="_blank" download="Marchiotto_CV_ENG.pdf">
                <p class="w-full h-full py-1">Eng</p>
              </a>
            </li>
            <li class="rounded-sm hover:bg-gray-100 font-bold text-blue-600">
              <a href="/cv/ita.pdf" target="_blank" download="Marchiotto_CV_ITA.pdf">
                <p class="w-full h-full py-1">Ita</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="middle" class="w-full col-span-3 xl:mt-0 flex flex-col space-y-2">
    <!-- ABOUT ME -->
    <div class="py-4 px-4 ">
      <div class="flex flex-row items-center">
          <h1 class="font-bold font-sans break-normal text-gray-900 text-3xl">{{trans(key="AboutMe", lang=lang)}}</h1>
      </div>
      <p class="mt-4">
        {{ section.content | safe }}
      </p>
    </div>
    <!-- EXPERIENCE -->
    <div class="basis-full py-4 px-4 ">
      <h2 class="font-bold font-sans break-normal text-gray-900 text-2xl pb-2">{{trans(key="Experience", lang=lang)}}
      </h2>
      <ul class="py-1">
        {% for work in section.extra.experience.works %}
        <li class="py-2">
          <div class="flex flex-row flex-wrap">
            <div class="basis-full flex flex-row">
              <i>{{ icons::factory(icon="work",classes="inline h-6 w-6 flex-no-shrink font-bold") }}</i>
              <p class="px-1 font-bold underline underline-offset-4">
                {{ work.company }}
              </p>
            </div>
            <div class="pl-7">
              <div class="basis-full ">
                {{work.description}}
              </div>
              <div class="basis-full text-gray-600 italic">
                {{ work.position }}, {{work.year}}
              </div>
              <div class="flex flex-row flex-wrap mt-2">
                {% for skill in work.skills %}
                <div class="colored-box">
                  <p>{{skill}}</p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- EDUCATION -->
    <div class="basis-full py-4 px-4 ">
      <h2 class="font-bold font-sans break-normal text-gray-900 text-2xl pb-2">{{trans(key="Education", lang=lang)}}
      </h2>
      <ul class="">
        {% for course in section.extra.education.courses %}
        <li class="py-1">
          <div class="flex flex-row flex-wrap">
            <div class="basis-full flex flex-row">
              <i>{{ icons::factory(icon="academic",classes="inline h-6 w-6 flex-no-shrink") }}</i>
              <p class="px-1 font-bold underline underline-offset-4">
                {{ course.course }}
              </p>
            </div>
            <div class="px-7-p">
              <div class="basis-full text-gray-600 italic">
                {{ course.institution }}, {{course.year}}
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

  {% endblock biography %}

  {% endblock content-%}
</div>